
# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Kafka
KAFKA_EXTERNAL_PORT=9092

# Service host ports
PRODUCT_CATALOG_PORT=3001
ORDER_SERVICE_PORT=3000
INVENTORY_SERVICE_PORT=3002
PAYMENT_GATEWAY_PORT=3005
PAYMENT_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3003
API_GATEWAY_PORT=8080
